asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
dj-database-url==2.3.0
Django==5.2
django-heroku==0.3.1
gunicorn==23.0.0
idna==3.10
jsonpointer==3.0.0
packaging==24.2
psycopg2==2.9.10
psycopg2-binary==2.9.10
requests==2.32.3
setuptools==78.1.0
sqlparse==0.5.3
typing_extensions==4.13.1
urllib3==2.3.0
wheel==0.45.1
whitenoise==6.9.0
